<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script src="js/jquery-1.8.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title>Vue演示例子</title>
		<style type="text/css">
			em {
				display: block;
				font-size: 18px;
				color: green;
				font-style: normal;
				font-weight: bold;
				width: 100%;
				background-color: #A5B6C8;
				margin: 10px 0px;
			}
			
			ul {
				list-style-type: decimal;
			}
		</style>
	</head>

	<body>

		<div id="sim1">
			<em>#简单显示、双向绑定</em>
			<p>{{msg}}</p>
			<input type="text" v-model="msg" />

			<em>#列表渲染、新增项，删除项，样式绑定，条件渲染，模版包含，隐藏显示<span v-show="newtodo.name!==''">[正在输入]</span></em>

			<div v-if="Math.random() > 0.5">
				心情：好
			</div>
			<div v-else>
				心情：不好
			</div>

			<template v-if="newtodo.name==123">[不容许添加{{newtodo.name}}]</template>
			<span v-else="newtodo.name==123">[可以添加]</span> 名称:
			<input type="text" v-model="newtodo.name" /> 年龄：<input type="text" v-model="newtodo.age" />
			<input type="button" v-on:click="addTodo" value="新增" :style="{fontSize: '18px' }" />
			<span style="color: red;">
				{{errormsg}}
			</span>
			<table>
				<tr v-for="mo in todos" v-if="mo.name!=123">
					<td v-bind:href.literal="不解析">{{$index+1}}</td>
					<td v-bind:alt="mo.name">名称：{{{mo.name | conlog}}} </td>
					<td :data-haha="mo.age">年龄：{{mo.age}} </td>
					<td :class="mo.cs">年龄（虚岁）：{{xage}} </td>
					<td :class="[mo.ts.classA,mo.ts.classB,mo.cs]">全名：{{fullname}} </td>
					<td :class="[mo.ts.classA,mo.ts.classB,mo.cs]">当前对象属性：
						<ul>
							<li v-for="value in mo">
								{{ $key }} : {{ value }}
							</li>
						</ul>
					</td>
					<td>修改名称:<input type="text" v-model="mo.name" />
						<input type="button" value="保存修改(简写绑定事件)" @click="saveName(mo)" />
						<input type="button" value="删除" v-on:click="removeTodo()" /></td>
				</tr>

			</table>
			
			<em>#事件修饰符，按键修饰符</em>
			event.stopPropagation()
			<input type="button" value="sayhi-stop" v-on:click.stop="sayhi" />
			<br/>
			event.preventDefault() 
			<input type="button" value="sayhi-prevent" v-on:click.prevent="sayhi" />
			<br/>
			也可以一起叠加
			<input type="button" value="sayhi-prevent-stop" v-on:click.stop.prevent="sayhi" />
			<br/>
			可以自定义别名或使用预置别名，还可以使用单子母按键
			<!--
            	// 可以使用 @keyup.f1 
            	Vue.directive('on').keyCodes.f1 = 112
            -->
			
			<input type="text" value="sayhi-enter，按回车才触发" v-on:keyup.enter="sayhi" />
			
			<em>#表单控件绑定</em>
			
		</div>

	</body>

	<script type="text/javascript">
		var sim1 = new Vue({
			el: "#sim1",
			data: {
				msg: "hello vue!",
				newtodo: {
					name: '',
					age: 0
				},
				errormsg: "",
				todos: [{
					name: '<b>123<b/>',
					age: 23,
					cs: {
						tb: true,
						lb: false,
						rb: "rb"
					},
					ts: {
						classA: 'class-a',
						classB: 'class-b'
					}
				}, {
					name: '456',
					age: 15,
					ts: {
						classA: 'class-c',
						classB: 'class-d'
					}
				}]
			},
			//公共方法
			methods: {
				saveName: function(mo) {
					console.log(mo.name + "->保存成功!");
				},
				addTodo: function() {
					if (this.newtodo.name.trim()) {
						this.todos.push({
							name: this.newtodo.name,
							age: this.newtodo.age
						});
						this.newtodo = {
							name: '',
							age: 0
						};
					} else {
						this.errormsg = "请填写名称";
					}
				},
				removeTodo: function(index) {
					this.todos.splice(index, 1);
				},
				sayhi:function () {
					alert("sayhi!");
				}
			},
			filters: {
				conlog: function(ag1) {
					console.log(ag1);
				}
			},
			//计算属性
			computed: {
				xage: function(mo) {
					return "无";
				},
				fullname: {
					get: function() {
						return "getfullname";
					},
					set: function(newValue) {
						return this.newtodo.name = newValue;
					}
				}
			}
		});
		//属性变化监控
		sim1.$watch("newtodo", function(newVal, oldVal) {
			console.log("%o===%o", newVal, oldVal);
		});
	</script>

</html>